{% extends 'base.html.twig' %}

{% block title %}Rapports Vétérinaires{% endblock %}

{% block content %}


<div class="text-center m-4">
    <h1>Rapports Vétérinaires</h1>

    <div class="container">
        <div class="row">
        {% for rapportveterinaire in rapportveterinaires %}
            <div>
                <button class="btn bg_primary text-white text-end p-2 m-2" type="button">Trier par</button>
            </div>
            <div class="col">
                <p>{{ rapportveterinaire.date|date('d/m/Y') }}</p>
            </div>
            <div class="col">
                <p>{{ rapportveterinaire.animal }}</p>
            </div>
            <div class="col">
                <button class="btn bg_primary text-white mt-2" type="button"> {{ rapportveterinaire.etat }} Ouvrir</button>
            </div>
                {% else %}
                <p>Aucun enregistrement en base de données.</p> 
            {% endfor %}
        </div>
    </div>

    <div>
        <a class="btn bg_primary text-white m-4" href="service/new">Enregistrer le rapport</a>
    </div>

</div>

{% endblock %} 
