<section>
    <div class="container">
        <div class="row">
            <button class="btn btn_dashboard col m-2" type="button" href="/admin/service">Gérer les avis</button>
            <button class="btn btn_dashboard col m-2" type="button">Répondre aux messages des visiteurs</button>
            <button class="btn btn_dashboard col m-2" type="button">Modifier les services</button>
            <button class="btn btn_dashboard col m-2" type="button">Nourir les animaux</button>
          </div>
    </div>
</section>