<section>
    <div class="container">
        <div class="row">
            <button class="btn btn_dashboard col m-2" type="button" href="/admin/service">Configurer les services</button>
            <button class="btn btn_dashboard col m-2" type="button">Modifier les habitats / les animaux</button>
            <button class="btn btn_dashboard col m-2" type="button">Créer un compte "Vétérinaire"</button>
            <button class="btn btn_dashboard col m-2" type="button">Créer un compte "Employé.e"</button>
          </div>
    </div>
</section>