<section>
    <div class="bg_dark text-white">
        <div class="container">
            <div>
                <h1 class="m-4 p-4">Commentaires sur les habitats</h1>
            </div>

            <form class="g-3">
                <div class="p-3">
                    <label for="inputHabitat" class="form-label text-white">Habitat</label>
                    <select class="form-select" aria-label="Default select example">
                        <option selected>Sélectionner l'habitat</option>
                        <option value="1">Habitat Terrestre</option>
                        <option value="2">Habitat Aquatique</option>
                        <option value="3">Habitat Aérien</option>
                    </select>
                </div>
                <div class="p-3">
                    <label for="inputComment" class="form-label text-white">Commentaire</label>
                    <textarea type="text" class="form-control" id="inputComment" placeholder="Écrire le commentaire ici"></textarea> 
                </div>
                <div class="p-3">
                    <button type="submit" class="btn bg_primary text-white">Soumettre le commentaire</button>
                </div>
            </form>
        </div>
    </div>
</section>