<section>
    <div class="bg_dark text-white">
        <div class="container">
            <div>
                <h1 class="m-4 p-4">Nourriture des animaux</h1>
            </div>

            <form class="g-3">
                <div class="p-3">
                    <label for="inputAnimal" class="form-label text-white">Animal</label>
                    <select class="form-select" aria-label="Default select example">
                        <option selected>Sélectionner l'animal</option>
                        <option value="1">Léo</option>
                        <option value="2">Léa</option>
                        <option value="3">Tigro</option>
                        <option value="4">Tigra</option>
                        <option value="5">Phanto</option>
                        <option value="6">Fanta</option>
                        <option value="7">Torto</option>
                        <option value="8">Torta</option>
                        <option value="9">Loutro</option>
                        <option value="10">Loutra</option>
                        <option value="11">Gator</option>
                        <option value="12">Gatora</option>
                        <option value="13">Rocco</option>
                        <option value="14">Rocca</option>
                        <option value="15">Flamo</option>
                        <option value="16">Flama</option>
                        <option value="17">Autro</option>
                        <option value="18">Autra</option>
                    </select>
                </div>
                <div class="p-3">
                    <label for="inputFood" class="form-label text-white">Nourriture</label>
                    <input type="text" class="form-control" id="inputFood" placeholder="Entrer la nourriture donnée à l'animal">
                </div>
                <div class="row">
                    <div class="p-3 col">
                        <label for="inputQuantity" class="form-label text-white">Quantité</label>
                        <div class="row">
                            <input type="text" class="col form-control" id="inputQuantity">
                            <p class="col">gr</p>
                        </div>
                    </div>
                    <div class="p-3 col">
                        <label for="inputDate" class="form-label text-white">Date</label>
                        <input type="date" class="form-control" id="inputDate">
                    </div>
                    <div class="p-3 col">
                        <label for="inputTime" class="form-label text-white">Heure</label>
                        <input type="text" class="form-control" id="inputDate">
                    </div>
                </div>  
                <div class="p-3 text-center">
                    <button type="submit" class="btn bg_primary text-white">Confirmer</button>
                </div>
            </form>
        </div>
    </div>
</section>