<section>
    <div class="bg_dark text-white">
        <div class="container text-center">
            <div>
                <h1 class="m-4 p-4">Nourriture des animaux</h1>
            </div>
            <div>
                <ul class="p-2 m-2">
                    <li class="row border-bottom">
                        <div class="col">
                            <p>Léo</p>
                        </div>
                        <div class="col">
                            <button class="btn bg_primary text-white mt-2" type="button">Ouvrir</button>
                        </div>
                    </li>
                    <li class="row border-bottom">
                        <div class="col">
                            <p>Léa</p>
                        </div>
                        <div class="col">
                            <button class="btn bg_primary text-white mt-2" type="button">Ouvrir</button>
                        </div>
                    </li>
                    <li class="row border-bottom">
                        <div class="col">
                            <p>Tigro</p>
                        </div>
                        <div class="col">
                            <button class="btn bg_primary text-white mt-2" type="button">Ouvrir</button>
                        </div>
                    </li>
                    <li class="row border-bottom">
                        <div class="col">
                            <p>Tigra</p>
                        </div>
                        <div class="col">
                            <button class="btn bg_primary text-white mt-2" type="button">Ouvrir</button>
                        </div>
                    </li>
                    <li class="row border-bottom">
                        <div class="col">
                            <p>Phanto</p>
                        </div>
                        <div class="col">
                            <button class="btn bg_primary text-white mt-2" type="button">Ouvrir</button>
                        </div>
                    </li>
                </ul>
                <div>
                    <p class="pb-4"><a class="color-secondary" href="#">Afficher la suite...</a></p>
                </div>
            </div>
        </div>
    </div>
</section>